*~
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
mkinstalldirs
omf.make
Makefile
Makefile.in
Makefile.in.in
.deps
stamp-h1
src/*.o
src/gyazolinux
